<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @@include('../components/meta.html')

    <title>技术特点 - ${{ common.company }}$</title>

    @@include('../components/link.html')
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
@@include('../components/header.html')

@@include('../components/nav.html')

<main class="layout-body">
    <div class="wrap">
        <section class="feature-box">
            <img class="feature-title feature-title-1" src="/static/img/feature-title-1.png">
            <img class="feature-img" src="/static/img/feature-1.png">
            <div class="feature-desc">
                ${{ feature.feature_1_desc }}$
            </div>
        </section>
        <section class="feature-box">
            <img class="feature-title feature-title-2" src="/static/img/feature-title-2.png">
            <img class="feature-img" src="/static/img/feature-2.png">
            <div class="feature-desc">
                ${{ feature.feature_2_desc }}$
            </div>
        </section>
        <section class="feature-box">
            <img class="feature-title  feature-title-3" src="/static/img/feature-title-3.png">
            <img class="feature-img" src="/static/img/feature-3.png">
            <div class="feature-desc">
                ${{ feature.feature_3_desc }}$
            </div>
        </section>
        <section class="feature-box no-border-bottom">
            <img class="feature-title feature-title-4" src="/static/img/feature-title-4.png">
            <img class="feature-img" src="/static/img/feature-4.png">
            <div class="feature-desc">
                ${{ feature.feature_4_desc }}$
            </div>
        </section>

        @@include('../components/pc.html')
    </div>
</main>

@@include('../components/footer.html')

@@include('../components/script.html')
</body>
</html>