<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>量川科技开业邀请函</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    @@include('../components/link.html')
</head>
<body>
<div class="page">
    <div id="loading" class="loading">
        <div class="loadbox">
            <div class="loadlogo"></div>
            <div class="loadbg"></div>
        </div>
        <div class="loading-tip">量川科技制作</div>
    </div>
    <img class="page-bg" src="/static/img/bg.png">
    <div class="layer-bg">
        <img class="cloud" src="/static/img/cloud.png">
        <img class="cloud-2" src="/static/img/cloud.png">
        <img class="star-2" src="/static/img/star.png">
        <img class="cloud-3" src="/static/img/cloud.png">
        <img class="star-3" src="/static/img/star.png">
    </div>
    <div id="music" class="bgm-btn rotate" data-event="11205" _tracker_click_="_tracker_click_" style="display: block;">
        <audio id="audio" loop="" src="/static/res/123.mp3" autoplay="" preload=""></audio>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- 1. 首页 -->
            <section class="swiper-slide section section-1">
                <div class="earth-box">
                    <div class="earth">
                        <img src="/static/img/earth.png">
                    </div>
                    <img class="mask" src="/static/img/mask.png">
                </div>
                <img class="logo ani"
                     swiper-animate-effect="fadeInDown"
                     swiper-animate-duration="1s"
                     swiper-animate-delay="0.9s"
                     src="/static/img/logo.png">
                <div class="section-content">

                    <div class="title ani fadeInUp animated"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="2s"
                         swiper-animate-delay="0.3s">盛大开业</div>
                    <div class="line ani"
                         swiper-animate-effect="twisterInUpRight"
                         swiper-animate-duration="2s"></div>

                    <div class="text ani"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="2s"
                         swiper-animate-delay="0.1s">科 &nbsp; 技 &nbsp; 赞 &nbsp; 美 &nbsp; 生 &nbsp; 活</div>
                    <div class="line line-2 ani"
                         swiper-animate-effect="twisterInUpLeft"
                         swiper-animate-duration="2s"></div>

                    <div class="invitation ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="2s"
                         swiper-animate-delay="1s">2017年11月28日</div>
                    <div class="section-company ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1s">- 广州量川科技有限公司 -</div>
                    <div class="section-welcome ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1.2s">诚致邀您莅临</div>
                </div>


                <!--<div class="white-bg ani"-->
                <!--swiper-animate-effect="fadeOut"-->
                <!--swiper-animate-duration="2s"-->
                <!--swiper-animate-delay="0s"></div>-->
            </section>
            <!-- 2. 关于我们 -->
            <section class="swiper-slide section section-2">
                <div class="section-content">
                    <div class="ani section-title-bg"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <div class="ani section-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        关于我们
                    </div>
                    <div class="ani section-sub-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        ABOUT US
                    </div>
                    <div class="ani section-line"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <div class="content">
                        <p class="ani"
                           swiper-animate-effect="fadeInLeft"
                           swiper-animate-duration="1s"
                           swiper-animate-delay="0.8s">广州量川科技有限公司，团队成立于2016年6月。量川科技专业从事软件工程，业务范围包括企业网站、微信应用、
                            企业管理系统，app定制开发等咨询服务和定制开发。</p>
                        <p class="ani"swiper-animate-effect="fadeInLeft"
                           swiper-animate-duration="1s"
                           swiper-animate-delay="1s">结合客户所在行业特点，针对不同行业的每一位客户设计与其品牌、服务、业务等相适合的网站建设方案。
                            包括网站首页、案例中心、产品服务介绍等内容，为客户量身定制线上解决方案，让客户能够更好的展现自己，
                            以解决业务痛点为己任，提高效率，优化流程，持续为客户创造最大价值。</p>
                    </div>
                    <img class="ani img"swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1.2s" src="/static/img/about.png">
                </div>
            </section>
            <!-- 3. 企业服务 -->
            <section class="swiper-slide section section-2">
                <div class="section-content">
                    <div class="ani section-title-bg"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <div class="ani section-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        企业服务
                    </div>
                    <div class="ani section-sub-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        CORPORATE SERVICES
                    </div>
                    <div class="ani section-line"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <ul class="service-list">
                        <li class="ani item"
                            swiper-animate-effect="fadeInLeft"
                            swiper-animate-duration="1s"
                            swiper-animate-delay="0.8s">
                            <img class="top-left" src="/static/img/top-left.png">
                            <img class="bottom-right" src="/static/img/bottom-right.png">
                            <div class="content">结合客户所在行业的网络特点，针对不同行业的每一位客户设计与其品牌、服务、业务等相适合的网站建设方案。</div>
                        </li>
                        <li class="ani item"
                            swiper-animate-effect="fadeInLeft"
                            swiper-animate-duration="1s"
                            swiper-animate-delay="1.2s">
                            <img class="top-left" src="/static/img/top-left.png">
                            <img class="bottom-right" src="/static/img/bottom-right.png">
                            <div class="content">我们为企业提供量身定制软件开发服务，采取专业的定制开发流程来满足各大企业软件产品的不同需求。</div>
                        </li>
                        <li class="ani item"
                            swiper-animate-effect="fadeInLeft"
                            swiper-animate-duration="1s"
                            swiper-animate-delay="1.4s">
                            <img class="top-left" src="/static/img/top-left.png">
                            <img class="bottom-right" src="/static/img/bottom-right.png">
                            <div class="content">服务内容包括，品牌形象微官网、微信会员管理系统、微信支付等。为客户定制设计微信网站，展示品牌高端形象。</div>
                        </li>
                        <li class="ani item"
                            swiper-animate-effect="fadeInLeft"
                            swiper-animate-duration="1s"
                            swiper-animate-delay="1.6s">
                            <img class="top-left" src="/static/img/top-left.png">
                            <img class="bottom-right" src="/static/img/bottom-right.png">
                            <div class="content">量川科技积累了大量移动应用APP开发经验，涉及的平台包括iPhone、iPad、Android手机和Android平板;</div>
                        </li>
                    </ul>
                    <div class="section-company ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1s">- 广州量川科技有限公司 -</div>
                    <div class="section-welcome ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1.2s">诚致邀您莅临</div>
                </div>
            </section>
            <!-- 4. 案例展示 -->
            <section class="swiper-slide section section-8">
                <div class="section-content">
                    <div class="ani section-title-bg"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <div class="ani section-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        案例展示
                    </div>
                    <div class="ani section-sub-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        CORPORATE SERVICES
                    </div>
                    <div class="ani section-line"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <ul class="case-list">
                        <li class="item">
                            <div class="ani box"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="1s"
                                 swiper-animate-delay="0.8s">
                                <img class="top-left" src="/static/img/top-left.png">
                                <img class="bottom-right" src="/static/img/bottom-right.png">
                                <img class="img" src="/static/img/case-1.png">
                            </div>
                            <div class="ani content"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="1s"
                                 swiper-animate-delay="1.0s">量川云物流系统</div>
                        </li>
                        <li class="item">
                            <div class="ani box"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="1s"
                                 swiper-animate-delay="1.2s">
                                <img class="top-left" src="/static/img/top-left.png">
                                <img class="bottom-right" src="/static/img/bottom-right.png">
                                <img class="img" src="/static/img/case-2.png">
                            </div>
                            <div class="ani content"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="1s"
                                 swiper-animate-delay="1.4s">量川云司机端App</div>
                        </li>
                    </ul>
                    <div class="section-company ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1s">- 广州量川科技有限公司 -</div>
                    <div class="section-welcome ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1.2s">诚致邀您莅临</div>
                </div>
            </section>

            <!-- 3. 产品介绍 -->
            <!--<section class="swiper-slide section section-3">-->
                <!--<div class="section-content">-->
                    <!--<div class="ani section-title-bg"-->
                         <!--swiper-animate-effect="zoomIn"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.3s"></div>-->
                    <!--<div class="ani section-title"-->
                         <!--swiper-animate-effect="fadeInDown"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.6s">-->
                        <!--产品介绍-->
                    <!--</div>-->
                    <!--<div class="ani section-sub-title"-->
                         <!--swiper-animate-effect="fadeInDown"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.6s">-->
                        <!--PRODUCT-->
                    <!--</div>-->
                    <!--<div class="ani section-line"-->
                         <!--swiper-animate-effect="zoomIn"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.3s"></div>-->
                    <!--<ul class="product-list">-->
                        <!--<li class="item">-->
                            <!--<img class="ani img" swiper-animate-effect="zoomIn"-->
                                 <!--swiper-animate-duration="1s"-->
                                 <!--swiper-animate-delay="0.4s" src="/static/img/product-1.png">-->
                            <!--<div class="ani name" swiper-animate-effect="fadeInDown"-->
                                 <!--swiper-animate-duration="2s"-->
                                 <!--swiper-animate-delay="0.4s">然后咖啡厅订餐平台</div>-->
                        <!--</li>-->
                        <!--<li class="item">-->
                            <!--<img class="ani img" swiper-animate-effect="zoomIn"-->
                                 <!--swiper-animate-duration="1s"-->
                                 <!--swiper-animate-delay="0.6s" src="/static/img/product-2.png">-->
                            <!--<div class="ani name" swiper-animate-effect="fadeInDown"-->
                                 <!--swiper-animate-duration="2s"-->
                                 <!--swiper-animate-delay="0.6s">世纪晟官网</div>-->
                        <!--</li>-->
                        <!--<li class="item">-->
                            <!--<img class="ani img" swiper-animate-effect="zoomIn"-->
                                 <!--swiper-animate-duration="1s"-->
                                 <!--swiper-animate-delay="0.8s" src="/static/img/product-3.png">-->
                            <!--<div class="ani name" swiper-animate-effect="fadeInDown"-->
                                 <!--swiper-animate-duration="2s"-->
                                 <!--swiper-animate-delay="0.8s">一站式云物流平台</div>-->
                        <!--</li>-->
                        <!--<li class="item">-->
                            <!--<img class="ani img" swiper-animate-effect="zoomIn"-->
                                 <!--swiper-animate-duration="1s"-->
                                 <!--swiper-animate-delay="1s" src="/static/img/product-4.png">-->
                            <!--<div class="ani name" swiper-animate-effect="fadeInDown"-->
                                 <!--swiper-animate-duration="2s"-->
                                 <!--swiper-animate-delay="1s">紫然肌官网</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</section>-->

            <!-- 4. 企业实拍 -->
            <!--<section class="swiper-slide section section-4">-->
                <!--<div class="section-content">-->
                    <!--<div class="ani section-title-bg"-->
                         <!--swiper-animate-effect="zoomIn"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.3s"></div>-->
                    <!--<div class="ani section-title"-->
                         <!--swiper-animate-effect="fadeInDown"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.6s">-->
                        <!--企业实拍-->
                    <!--</div>-->
                    <!--<div class="ani section-sub-title"-->
                         <!--swiper-animate-effect="fadeInDown"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.6s">-->
                        <!--BUSINESS REAL SHOT-->
                    <!--</div>-->
                    <!--<div class="ani section-line"-->
                         <!--swiper-animate-effect="zoomIn"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.3s"></div>-->
                    <!--<img class="ani big-img"-->
                         <!--swiper-animate-effect="fadeInLeft"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.4s"-->
                         <!--src="/static/img/photo-0.png">-->
                    <!--<div class="ani line big-img"-->
                         <!--swiper-animate-effect="zoomIn"-->
                         <!--swiper-animate-duration="1s"-->
                         <!--swiper-animate-delay="0.5s"></div>-->
                    <!--<div class="photo-box">-->
                        <!--<ul class="photo-list">-->
                            <!--<li class="ani item" swiper-animate-effect="fadeInUp"-->
                                <!--swiper-animate-duration="1s"-->
                                <!--swiper-animate-delay="0.6s">-->
                                <!--<img class="img" src="/static/img/photo-1.png">-->
                            <!--</li>-->
                            <!--<li class="ani item" swiper-animate-effect="fadeInUp"-->
                                <!--swiper-animate-duration="1s"-->
                                <!--swiper-animate-delay="0.8s">-->
                                <!--<img class="img" src="/static/img/photo-2.png">-->
                            <!--</li>-->
                            <!--<li class="ani item" swiper-animate-effect="fadeInUp"-->
                                <!--swiper-animate-duration="1s"-->
                                <!--swiper-animate-delay="1s">-->
                                <!--<img class="img" src="/static/img/photo-3.png">-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
            <!-- 5. 典礼流程 -->
            <section class="swiper-slide section section-6">
                <div class="section-content">
                    <div class="ani section-title-bg"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <div class="ani section-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        典礼流程
                    </div>
                    <div class="ani section-sub-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        CEREMONY PROCESS
                    </div>
                    <div class="ani section-line"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <ul class="process-list">
                        <li class="item">
                            <div class="ani time"
                                 swiper-animate-effect="fadeInRight"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="0.8s">9：00</div>
                            <div class="ani content"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="0.8s">嘉宾到场签到拍照</div>
                        </li>
                        <li class="item">
                            <div class="ani time"
                                 swiper-animate-effect="fadeInRight"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1s">9：30</div>
                            <div class="ani content"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1s">主持人开始宣布会议开始</div>
                        </li>
                        <li class="item">
                            <div class="ani time"
                                 swiper-animate-effect="fadeInRight"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1.2s">10：00</div>
                            <div class="ani content"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1.2s">主办方致辞</div>
                        </li>
                        <li class="item">
                            <div class="ani time"
                                 swiper-animate-effect="fadeInRight"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1.4s">11：00</div>
                            <div class="ani content"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1.4s">企业产品展示</div>
                        </li>
                        <li class="item">
                            <div class="ani time"
                                 swiper-animate-effect="fadeInRight"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1.6s">11：30</div>
                            <div class="ani content"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1.6s">企业服务交流</div>
                        </li>
                        <li class="item">
                            <div class="ani time"
                                 swiper-animate-effect="fadeInRight"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1.8s">18：00</div>
                            <div class="ani content"
                                 swiper-animate-effect="fadeInLeft"
                                 swiper-animate-duration="2s"
                                 swiper-animate-delay="1.8s">开业庆晚会</div>
                        </li>

                       
                    </ul>
                    <div class="ani line"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1s"></div>
                    <div class="section-company ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1s">- 广州量川科技有限公司 -</div>
                    <div class="section-welcome ani"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1.2s">诚致邀您莅临</div>
                </div>
            </section>
            <!-- 6. 参会信息 -->
            <section class="swiper-slide section section-5">
                <div class="section-content">
                    <div class="ani section-title-bg"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <div class="ani section-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        参会信息
                    </div>
                    <div class="ani section-sub-title"
                         swiper-animate-effect="fadeInDown"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">
                        INFOMATION
                    </div>
                    <div class="ani section-line"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.3s"></div>
                    <div class="ani date"
                         swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.4s">2017.11.28</div>
                    <div class="ani address"
                         swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.6s">广州市海珠区宸悦路叁悦广场B塔1204</div>
                    <div class="ani map-box"
                         swiper-animate-effect="zoomIn"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="0.8s">
                        <div id="map" class="ani map"
                             swiper-animate-effect="zoomIn"
                             swiper-animate-duration="1s"
                             swiper-animate-delay="1s">

                        </div>
                    </div>
                    <div class="ani phone"
                         swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1s">电话：020-80929929</div>
                    <div class="ani email"
                         swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1.2s">邮箱：lctechnology@126.com</div>
                    <img class="ani qrcode" src="/static/img/qrcode.png"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1.4s">
                    <div class="ani qrcode-text"
                         swiper-animate-effect="fadeInUp"
                         swiper-animate-duration="1s"
                         swiper-animate-delay="1.4s">扫一扫关注我们</div>
                </div>

                <!--<div class="earth-box">-->
                <!--<div class="earth">-->
                <!--<img src="/static/img/earth.png">-->
                <!--</div>-->
                <!--<img class="mask" src="/static/img/mask.png">-->
                <!--</div>-->
            </section>
        </div>

        <img src="/static/img/web-swipe-tip.png" style="width:20px;height:15px; top:460px; left:150px;" id="array"
             class="resize">
        <div class="swiper-pagination"></div>
    </div>
</div>

@@include('../components/script.html')
</body>
</html>
