<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @@include('../components/meta.html')

    <title>最新动态 - ${{ common.company }}$</title>

    @@include('../components/link.html')
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
@@include('../components/header.html')

@@include('../components/nav.html')

<main class="layout-body">
    <div class="wrap">
        <div class="detail-box">
            <h2 class="section-title">最新动态</h2>
            <h2 class="section-sub-title">Recent news</h2>
        </div>
        <div class="article-box">
            <h1 class="article-title">开启“移动刷脸”新模式——Centrizen（世纪晟科技）携云浮公安局</h1>
            <div class="article-time">2017年8月15日</div>
            <img class="article-img" src="/static/img/news-5.png">
            <article class="article">
                <p>近日，广东省云浮市公安局与人脸识别企业Centrizen（世纪晟科技）展开项目合作，构建“云浮公安移动检查站人脸识别系统”。</p>
                <p>本次合作将世纪晟Centrizen先进的人脸识别、身份验证、及移动一体化设备运用到公安系统检查站中，可谓是人工智能+警用设备模式的创新突破。</p>
                <p>最博人眼球的是，这是一套“移动刷脸”设备，创新性将人脸识别硬件设备组装于改造警车，可随时随地部署人脸识别系统。为公安、特警部队打击犯罪，维护公民生命财产安全提供新思路和战法。</p>
                <p>现有检查站的例行检查以公安、特警人员人工比对为主，辨识工作量巨大，影响了警务执勤的效率。</p>
                <p>刑侦边检存在紧急出警、及时布控的需求，没有一套可行性移动便携式人脸识别系统方案帮助公安干警快速形成有效封锁链。</p>
                <p>如何通过技术创新打破现有的检查站困境，提高审查效率，是省际公安检查站的重要发展方向。云浮市公安局一直密切关注技术的创新发展，这次将人脸识别技术运用到检查站模式中，也传递出移动人脸识别+公安系统警用设备的突破和变革心声。</p>
                <p>针对云浮市公安局诉求，世纪晟Centrizen凭借卓越的人脸识别技术为其提供了身份验证、移动人脸识别服务，助力公安系统向高效化、先进化的方向发展。</p>
                <p>世纪晟Centrizen携手云浮市公安局开启的“移动刷脸”新模式，将人工智能和大数据运用到刑侦领域之中，依赖科技的进步为公安、特警部队打造刑侦新思路。未来世纪晟Centrizen希望凭借在技术、创新上的优势以及多年的行业深耕积累，携手更多合作伙伴共同推动行业产品智能化升级。</p>
            </article>
            <div class="hr"></div>
            <div class="article-page">
                <div class="item">下一篇： <span class="disabled">这是最后一篇</span></div>
                <div class="item">上一篇： <a href="./news-4.html">当你老了，人脸识别还能识别你吗</a></div>
            </div>
        </div>
    </div>
</main>

@@include('../components/footer.html')

@@include('../components/script.html')
</body>
</html>