<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @@include('../components/meta.html')

    <title>最新动态 - ${{ common.company }}$</title>

    @@include('../components/link.html')
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
@@include('../components/header.html')

@@include('../components/nav.html')

<main class="layout-body">
    <div class="wrap">
        <div class="detail-box">
            <h2 class="section-title">最新动态</h2>
            <h2 class="section-sub-title">Recent news</h2>
        </div>
        <div class="article-box">
            <h1 class="article-title">行业新闻 | 人脸识别是怎么实现的</h1>
            <div class="article-time">2017年7月20日</div>
            <img class="article-img" src="/static/img/news-detail-3.png">
            <article class="article">
                <h2>一、人脸识别技术原理分析</h2>
                <p>人脸识别主要分为人脸检测、特征提取和人脸识别三个过程。</p>
                <h3>1、人脸检测</h3>
                <p>人脸检测是指从输入图像中检测并提取人脸图像，通常采用haar特征和Adaboost算法训练级联分类器对图像中的每一块进行分类。如果某一矩形区域通过了级联分类器，则被判别为人脸图像。</p>
                <h3>2、特征提取</h3>
                <p>特征提取是指通过一些数字来表征人脸信息，这些数字就是我们要提取的特征。</p>
                <p>常见的人脸特征分为两类，一类是几何特征，另一类是表征特征。几何特征是指眼睛、鼻子和嘴等面部特征之间的几何关系，如距离、面积和角度等。由于算法利用了一些直观的特征，计算量小。</p>
                <p>不过，由于其所需的特征点不能精确选择，限制了它的应用范围。另外，当光照变化、人脸有外物遮挡、面部表情变化时，特征变化较大。所以说，这类算法只适合于人脸图像的粗略识别，无法在实际中应用。</p>
                <h3>3、人脸识别</h3>
                <p>将待识别人脸所提取的特征与数据库中人脸的特征进行对比，根据相似度判别分类。而人脸识别又可以分为两个大类：一类是确认，这是人脸图像与数据库中已存的该人图像比对的过程，回答你是不是你的问题;另一类是辨认，这是人脸图像与数据库中已存的所有图像匹配的过程，回答你是谁的问题。显然，人脸辨认要比人脸确认困难，因为辨认需要进行海量数据的匹配。</p>
                <p>与指纹应用方式类似，人脸识别技术目前比较成熟的也是考勤机。因为在考勤系统中，用户是主动配合的，可以在特定的环境下获取符合要求的人脸。这就为人脸识别提供了良好的输入源，往往可以得到满意的结果。但是在一些公共场所安装的视频监控探头，由于光线、角度问题，得到的人脸图像很难比对成功。这也是未来人脸识别技术发展必须要解决的难题之一。</p>
                <h2>二、人脸识别技术特点</h2>
                <p>人脸与人体的其它生物特征（指纹、虹膜等）一样与生俱来，它的唯一性和不易被复制的良好特性为身份鉴别提供了必要的前提，与其它类型的生物识别比较人脸识别具有如下特点：</p>
                <p><strong>1、非强制性：</strong>用户不需要专门配合人脸采集设备，几乎可以在无意识的状态下就可获取人脸图像，这样的取样方式没有“强制性”;</p>
                <p><strong>2、非接触性：</strong>用户不需要和设备直接接触就能获取人脸图像;</p>
                <p><strong>3、并发性：</strong>在实际应用场景下可以进行多个人脸的分拣、判断及识别;</p>
                <p>除此之外，还符合视觉特性：“以貌识人”的特性，以及操作简单、结果直观、隐蔽性好等特点。</p>
                <h2>三、人脸识别步骤</h2>
                <p>人脸识别目前来讲具体分为以下几个步骤：</p>
                <h3>1、人脸检测</h3>
                <p>根据眼睛、眉毛、嘴巴、鼻子等器官的特征以及相互之间的几何位置关系来检测人脸，即在一幅图像或一系列图像（比如视频）中判断是否有人脸，若有则返回人脸的大小、位置等信息。</p>
                <h3>2、人脸图像预处理</h3>
                <p>系统获取的原始图形由于受到各种条件的限制和随机干扰，必须在图像处理的早期阶段进行灰度校正、噪声过滤图像预处理。人脸图像预处理主要包括：人脸对准，人脸图像增强，以及归一化等工作。</p>
                <p>人脸对准是为了人脸位置端正的人脸图像</p>
                <p>图像增强是为了改善人脸图像的质量，不仅在视觉上更加清晰，而且使图像更利于计算机的处理与识别</p>
                <p>归一化的工作的目标是取得尺寸的一致，灰度取值范围相同的标准化人脸图像</p>
                <h3>3、人脸图像特征提取</h3>
                <p>人脸识别提取就是针对人脸的某些特征进行的。人脸特征也称人脸表征，它是对人脸进行特征建模的过程</p>
                <h3>4、人脸图像匹配与识别</h3>
                <p>人脸识别就是将待识别的人脸特征与已得到的人脸的特征模板进行比较，根据相似程度对人脸的身份信息进行判断。这一过程又分为两类：</p>
                <p>一类是人脸确认，是一对一进行图像比较的过程，根据其相似程度来判断是否是同一个人，相似程度一般以能否超过某以量化阈值为依据。</p>
                <p>另一类是人脸辨认，是一对多进行图像对比，将某人面像与数据库中的多人的人脸进行对比，并根据比对结果来鉴定此人身份，或找到其中最相似的人脸，并按照相似程度的大小输出检测结果。乌镇互联网大会中的刷脸注册系统，百度大厦的闸机，人停留1到2秒即可通过，这就是1：N的人脸识别。</p>
                <h2>三、人脸识别技术应用前景</h2>
                <p><strong>1、企业、住宅安全和管理。</strong>如人脸识别门禁考勤系统，人脸识别防盗门等。</p>
                <p><strong>2、电子护照及身份证。</strong>这或许是未来规模最大的应用，国际民航组织（ICAO）已确定，从2010年起，其118个成员国家和地区，必须使用机读护照，人脸识别技术是首推识别模式，该规定已经成为国际标准。</p>
                <p><strong>3、公安、司法和刑侦。</strong>如利用人脸识别系统和网络，在全国范围内搜捕逃犯。</p>
                <p><strong>4、自助服务。</strong>如银行的自动提款机，如果用户卡片和密码被盗，就会被他人冒取现金。如果同时应用人脸识别就会避免这种情况的发生。</p>
                <p><strong>5、信息安全。</strong>如计算机登录、电子政务和电子商务。</p>
            </article>
            <div class="hr"></div>
            <div class="article-page">
                <div class="item">下一篇： <a href="./news-4.html">当你老了，人脸识别还能识别你吗</a></div>
                <div class="item">上一篇： <a href="./news-2.html">上海交警试点人像识别抓拍行人闯红灯，已有4人接受处理</a></div>
            </div>
        </div>
    </div>
</main>

@@include('../components/footer.html')

@@include('../components/script.html')
</body>
</html>