<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @@include('../components/meta.html')

    <title>最新动态 - ${{ common.company }}$</title>

    @@include('../components/link.html')
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
@@include('../components/header.html')

@@include('../components/nav.html')

<main class="layout-body">
    <div class="wrap">
        <div class="detail-box">
            <h2 class="section-title">最新动态</h2>
            <h2 class="section-sub-title">Recent news</h2>
        </div>
        <div class="article-box">
            <h1 class="article-title">人脸识别引领智能安防革命</h1>
            <div class="article-time">2017年7月20日</div>
            <img class="article-img" src="/static/img/news-detail-1.png">
            <article class="article">
                <p>随着人工智能时代的到来，当前计算机视觉识别技术甚至已在一定程度上超过人类，计算机视觉和智能无人设备正快速普及。作为人工智能的典型应用，人脸识别技术成为人工智能的第一连接口。</p>
                <p>伴随着智能识别术的突破，安防企业在“智能安防”这块土地上正打得热火，一方面，传统安防巨头海康威视、大华股份等在不断加大安防智能化程度；另一方面，以算法见长的商汤科技、旷视科技、中安未来科技等也将技术重点聚焦于人脸识别、行为分析等图像智能领域，而当前传统安防厂商和算法型厂商同时存在着明显的竞争和合作关系，整个安防行业在人脸识别技术的浪潮推动下，呈现欣欣向荣的态势。</p>
                <p>一个完整的智能安防系统主要包括门禁、报警和监控三大部分。人脸识别布控系统、人脸识别门禁、人脸识别访客系统、人证合一闸机等产品应运而生，迅速占领了智能安防市场的大部分市场份额。整个安防市场已经进入到了泛智能化时代，交通、能源、园区、学校、楼宇、银行包括中小企业、民用等都有人脸识别的应用需求。</p>
                <p>其中人证合一技术是智能安防领域重要的一环。</p>
                <p>人证合一技术是人脸识别技术和二代证识别技术的有机结合，通过识别核心将证件上的头像和现场拍摄的人脸头像进行比对，识别输出人证一致或者不一致的结果，同时可以建立人脸识别库，与公安系统联网，将人证识别后的结果和数据库中的人员名单进行比对，对在逃人员和犯罪分子进行甄别和抓捕。</p>
                <p>人证合一的应用领域非常广泛，公安系统的实名登记，天网工程，海量人口的信息处理；安防领域的自主通道、访客系统、票证合一…，金融行业的远程开户，ATM机，内部人员的管理等都会用到人证合一的设备和相关系统。</p>
                <p>目前软件集成，智能硬件的发展齐头并进，中国人工智能市场增长将快于全球其他国家和地区，赛迪顾问预测2018年中国市场规模将超过406亿元，年复合增长率达25.8%，人脸识别与智能安防市场将迎来新的高潮。</p>
                <p>平安城市、智慧小区、智能楼宇、智能交通，随着人脸识别技术的广泛应用，智能生活理念将走入千万家。</p>
            </article>
            <div class="hr"></div>
            <div class="article-page">
                <div class="item">下一篇： <a href="./news-2.html">上海交警试点人像识别抓拍行人闯红灯，已有4人接受处理</a></div>
                <div class="item">上一篇： <span class="disabled">这是第一篇</span></div>
            </div>
        </div>
    </div>
</main>

@@include('../components/footer.html')

@@include('../components/script.html')
</body>
</html>